.env
.env.*
!.env.example
!.env.production.example
database/database.sqlite
node_modules
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/storage
public/hot
.git
.github
.idea
.vscode
.phpunit.cache
.phpunit.result.cache
